import(package='tester/test-model.dart')
import(package='flutter_platform_widgets/flutter_platform_widgets.dart')
import(package='scoped_model/scoped_model.dart')
import(package='tester/util/reactive-model.dart')

test-page(flutter-view :model)
	material-app(title='Flutter Demo!')
		scaffold(as='home')
			app-bar(as='appBar')
				#title(as='title') Welcome
			center(as='body')
				reactive(:model='model')
					animated-container.message(:duration-ms='200' margin-top=':model.counter * 10')
						| Count: ${model.counter}
						platform-button(@on-pressed='model.incrementCounter()') increase
						platform-button(@on-pressed='model.decrementCounter()') decrease
