import(package='flutter_view_tools/flutter_view_tools.dart')
import(package='todolist/app-model.dart')
import(package='todolist/task.dart')
import(file='taskspage-model.dart')


//- Shows a Scaffold with a list of tasks and a button to add a new task
tasks-page(flutter-view :model[TasksPageModel])
	builder
		scaffold
			app-bar(as='appBar')
				#title(as='title') Tasks
				
			reactive(as='body' watch='model.app')
				slot
					list-view#tasks(if='!model.app.tasks.isEmpty')
						task-entry(for='task in model.app.tasks' :task='task' :model='model')
					center#empty(if='model.app.tasks.isEmpty')
						.empty-message Press + to create a task

			floating-action-button(
				as='floatingActionButton'
				@on-pressed='model.onAddButtonPressed(context)')
				icon(:value='Icons.add')


//- Shows a single task entry
task-entry(flutter-view :task[Task] :model[TasksPageModel])
	reactive(watch='task')
		dismissible(
			:key='ValueKey(task)'
			:on-dismissed='(direction) { model.onTaskDismissed(task); }')
			card
				row
					.title(:text-decoration='model.taskTextDecoration(task)') 
						| ${task.name}
					checkbox(
						:^value='task.done'
						:on-changed='(checked) { model.onCheckPressed(task, checked); }')
			.dismiss(as='background') Delete


//- Shows a dialog to enter a new task
add-task-dialog(flutter-view :controller :on-ok :on-cancel)
	alert-dialog
		.title(as='title') Add Task
		.content(as='content')
			text-field(autofocus :controller='controller')
		array(as='actions')
			flat-button(@on-pressed='onOk()') Ok
			flat-button(@on-pressed='onCancel()') Cancel
