import(package='flutter_platform_widgets/flutter_platform_widgets.dart')
import(package='scoped_model/scoped_model.dart')
import(package='tester/app-model.dart')
import(package='tester/util/controller_widget.dart')
import(package='tester/util/reactive-model.dart')

animations-page(flutter-view :model)
	material-app(title='Flutter Demo!')
		scaffold(as='home')
			app-bar(as='appBar')
				#title(as='title') Welcome
			center(as='body')
				reactive(:model='model')
					column
						animated-switcher(:duration-ms=100)
							.switched(:key='ValueKey(model.counter)')
								.message You have pushed:
								.counter ${model.counter} times!

						animated-cross-fade(:duration-secs=1 :cross-fade-state='model.getFadeState()')
							text(as='firstChild' value='Hello!')
							text(as='secondChild' value='Hello Again!')

						scoped-animation(:duration-sec=1 model='SomeAnimationModel' model-fn='model.createHeightAnimModel')
								platform-button(@on-pressed='anim.controller.forward()') forward
								platform-button(@on-pressed='anim.controller.reverse()') reverse
								.anim
									| Current controller value2: ${anim.height.value}

			floating-action-button#btn(
				as='floatingActionButton'
				tooltip='Increment'
				@on-pressed='model.incrementCounter()')
				icon(:value='Icons.add')
